* {
  padding: 0px;
  margin: 0px;
}

/* body{
    background-color: steelblue;
    
} */

#signup {
  padding: 39px;
background-color:steelblue;

}

#h {
  width: 250px;
  padding: 20px;
margin-left: 50px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: aliceblue;
}

@media(max-width:960px) {
  #h {
    margin-left: 340px;
  }
  
}

@media(max-width:725px) {
  #h {
    margin-left: 170px;
  }
  
}
@media(max-width:426px) {
  #h {
    margin-left: 20px;
   
  }
}
@media(max-width:556px) {
  #h {
    margin-left: 20px;
   
  }
}



#blur {
  /* backdrop-filter: blur(10px); */
  /* background-color:  rgb(13, 108, 216); */
  width: 380px;
  height: 530px;
  margin-left: 500px;
  padding-left: 15px;
 
  border-radius: 20px;

  background-color: rgb(38, 103, 155);
}

@media(max-width:960px) {
  #blur {
    margin-left: 300px;
  }
}

@media(max-width:725px) {
  #blur {
    margin-left: 130px;
  }
  
}
@media(max-width:556px) {
  #blur {
    margin-left: 1px;
    width: 300px;
  }
}
@media(max-width:350px){
  #blur{
    margin-left: none;
  }
}



#in {
  width: 330px;
  text-align: center;
  padding: 5px;
  border-radius: 20px;

}
@media(max-width:556px) {
  #in {
    width: 250px;
  }
}

#re {
  margin-left: 60px;
  width: 200px;
  padding: 8px;
  color: white;
  background-color: rgb(15, 118, 197);

}

@media(max-width:556px) {
  #re {
    margin-left: 20px;
  }

}




#login {
padding: 39px;
background-color: rgb(21, 102, 172);


}

#form {
  width: 380px;
  height: 390px;
  margin-bottom: 139px;
  margin-left: 500px;
  padding-left: 15px;
 border-radius: 20px;
background-color: rgb(38, 103, 155);

}

@media(max-width:960px) {
  #form {
    margin-left: 270px;

  }
}

@media(max-width:725px) {
  #form {
    margin-left: 120px;
  }
}
@media(max-width:556px){
  #form{
    margin-left: 0px;
    width: 300px;
  }
}

.item {
  flex: 50px;
  padding: 10px;

  justify-content: space-between;
}

.nav {
  display: flex;
  width: 100%;

  padding: 10px;

  justify-content: space-between;
  box-shadow: 1px 1px 1px 1px;
  background-color: Black;
}

.parent {
  display: flex;
  gap: 30px;
  /* background-color: rgb(182, 227, 22); */
}

@media(max-width:635px) {
  .parent {
    display: inline;
    /* background-color: rgb(182, 227, 22); */


  }

}

.child1 {
  background-color: light white;
  width: 330px;
  padding: 10px;


}

.child2 {
  display: grid;


}

.child2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;


}

@media(max-width:1368px) {
  .child2 {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media(max-width:1150px) {
  .child2 {
    display: grid;
    grid-template-columns: auto auto;
  }
}


@media(max-width:900px) {
  .child2 {
    display: grid;
    grid-template-columns: auto;
  }

}

.fo {

  display: flex;

  width: auto;
  background-color: rgba(240, 247, 215, 0.871);
  padding-top: 30px;

}

.fo {
  display: flex;
  flex: auto auto auto;
}

@media (max-width:1368px) {
  .fo {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: none;
    justify-content: none;
    text-align: center;

    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 750px;
    background-color: none;
  }
}


@media (max-width:1350px) {
  .fo {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: none;
    justify-content: none;
    text-align: center;

    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 750px;
    background-color: none;
  }
}

@media (max-width:900px) {
  .fo {
    display: grid;
    grid-template-columns: auto;
    margin-left: none;
    justify-content: none;
    text-align: center;

    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 750px;

  }
}

@media (max-width:635px) {
  .fo {
    display: inline;
    grid-template-columns: none;
    margin-left: none;
    justify-content: none;
    text-align: center;

    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 750px;

  }
}

.con {

  display: flex;


}

#mar{
margin-left: 200px;
}
@media(max-width:417px){
#mar{
  margin-left: none;
}
}
